<style>
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
</style>

html {
    /*box-sizing: border-box;*/
    font-size: 16px;

}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
}
/*Header*/
.header {
  z-index: 100;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: #FFFFFF;
  justify-content: space-between;
  border-bottom: 2px solid #D0D3D4;
}
/* Logo */

.header .logo {
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    height: 2rem;
}

.header .logo h5 {
    font-weight: bold;
}
.header .logo h5 span {
    font-weight: normal;
    color: #707B7C;
}
/* Nav Menu */

nav.desktop {
    margin-right: 1.5rem;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.header nav.desktop a {
  margin-left: 1rem;
  text-decoration: none;
  color: #17202A;
}
.header nav.desktop a:hover  {
  font-weight: bold;

}
.mobile {
    display: none;
}

/* Banner */

.banner {
  display: flex;
  align-items: center;
  padding-top: 4rem;
  background-color: #D0D3D4;
}

.banner-image {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-image img {
  width: 100%;
  height: auto;
}

.banner-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}

.banner-text h1 {
  margin: 2rem 1.5rem 2rem 0;
}

.banner-text h2 {
  font-size: 1.5rem;
}

.banner .btn {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 16rem;
  max-width: 86%;
  padding: 1rem 0;;
  margin: 1.5rem 1.5rem 2rem 1rem;
  text-decoration: none;
  background-color: #707B7C;
  color: #FFFFFF;
  border-radius: 1px;
}
.banner .btn:hover,
.banner .btn:active {
  background-color: #99A3A4;
  transition: background-color 200ms ease-in 100ms;
}
/*Practice Content Section*/
.practice {
  display: flex;
  margin: 2rem 1.5rem;
  width: 100%;
  position: relative;
}
.practice-left {
  width: 60%;
  padding-right: 1.5rem;
}
.practice-left .image,
.practice-left .image img,
.practice-left .text {
  width: 100%;
}

.practice-left h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  padding-right: 1.5rem;
}
.practice-left p {
  line-height: 1.4;
  margin: 2rem 0;
  padding-right: 1.5rem;
}
#quote {
  margin-bottom: 2rem;
  padding-right: 1.5rem;
}
.practice-right {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
 .practice-right-info {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.orientation,
.campus {
  border-bottom: 5px solid #D0D3D4;
  width: 100%;
}
.orientation,
.campus,
.lecture {
  display: flex;
}
.orientation:hover,
.campus:hover,
.lecture:hover {
  background-color: #D0D3D4;
  transition: color 200ms ease-in 100ms;
}
.practice-right .image {
  max-width: 35%;
  height: auto;
  overflow: hidden;
}
.practice-right .image img {
  width: 100%;
  height: auto;
  margin: 1rem;

}
.practice-right .text {
  margin-right: .5rem;
  line-height: 2;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.practice-right h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.practice-right a {
  text-decoration: none;
  color: #3364FF;
}

.practice-right a:hover {
  font-weight: bold;
  transition: color 200ms ease-in 100ms;
}

/*Learning Section*/
.learning {
  background-color: #D0D3D4;

}
.learning h1 {
  padding: 2rem 0 1rem 0;
  text-align: center;
}

.courses {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: auto;

}
.course {
  margin: 2rem;
  background-color: #FFFFFF;
  width: 30%;
  height: auto;
  padding-bottom: 1.5rem;
}
.course:hover,
.course:active {
  opacity: .65;
}
.course-image {
  height: auto;
  width: 100%;
}
.course-image img {
  width: 100%;
  height: auto;
}
.course-text {
  padding: 1rem 1rem 1.5rem 1rem;
}
.course h3 {
  font-weight: bold;
  font-size: 1.5rem
  margin: 1rem 0;
}
.course p {
  line-height: 1.4;
  margin: .5rem 0;
  font-size: 1rem;
}

/*Thesis Exhibit Section*/
.thesis {
  margin: 2rem 1.5rem;
  width: 100%;
  position: relative;
}
.thesis h1 {
  padding-bottom: 2rem;
  text-align: center;
}
.left-thesis {
  width: 60%;
  padding-right: 1.5rem;
}
video,
.left-thesis .text {
  width: 100%;
}

.left-thesis h3 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  padding-right: 1.5rem;
}
.left-thesis p {
  line-height: 1.4;
  margin: 2rem 0;
  padding-right: 1.5rem;
}

.right-thesis {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.fisma {
  border-bottom: 5px solid #D0D3D4;
  width: 100%;
}
.fisma,
.nowthen {
  display: flex;
}
.fisma:hover,
.nowthen:hover {
  background-color: #D0D3D4;
  transition: color 200ms ease-in 100ms;
}
.thesis-sections {
  display: flex;
}
.thesis-image {
  max-width: 35%;
  height: auto;
  overflow: hidden;
}
.thesis-image img {
  width: 100%;
  height: auto;
  margin: 1rem;

}
.thesis-text {
  margin-right: .5rem;
  line-height: 1.4;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-thesis h3 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.right-thesis a {
  text-decoration: none;
  color: #17202A;
}
/*Footer Section*/
footer {
  padding: 1rem 1.5rem 3rem 1.5rem;
  border-top: 1px solid #D0D3D4;
  display: flex;
  justify-content: space-between;
}

footer a {
  text-decoration: none;
  color: #17202A;
}
